
*{
  
   height: 100px;
   padding: 40px;
   border: 20px;
   margin: 10px;
   box-sizing: border-box;


}
.fundo-branco{
   
    background-color: #F5F5F5;

}
.fundo-roxo{
    background-color: #F0CCE2;

}

